/**/
/* General body styles */
html, body {
    height: 100%; /* Ensures the full height of the viewport is used */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stacks content vertically */
}
body, .container, .content {
    overflow-x: hidden; /* Only use this if horizontal overflow needs to be hidden */
}

#Anais{
    font-family:  "Bungee Shade", serif; /* assigning special font */
    font-size: 3rem;
    grid-area: title; /* assigning the h1 to the title area */
    text-align: center; /* centering the title */ 
    letter-spacing: 2px;
    color: rgb(245, 209, 218); 
}

.content {
    flex: 1; /* Takes up all available space pushing the footer to the bottom */
}
/*  Styles for the footer */
footer {
    width: 100%; /* Ensures footer takes full width of the viewport */
    margin: 0; /* Resets any inherited margins */
    padding: 20px 0; /* Adjust padding as needed, ensure no horizontal padding is cutting it off */
    text-align: center;
    background-image: url('Icons/background_flowers_Pink.svg');
    background-size: 600px;
    background-repeat: repeat;
    color: white;
}

@media (max-width: 768px) {
    footer {
        background-size: 50px 50px; /* Smaller pattern size on smaller screens */
    }
}


body {
    font-family: Arial, sans-serif; /* This can be changed to your preferred font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color); /* Use variable for background color */
    color: var(--text-color); /* Use variable for text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color); /* Use variable for background color */
    padding: 0 20px;
}
/* Logo styles */
.logo img {
    height: 60px;  /* Make sure this is not too small or too large for your header. */
}

/* Navigation styles */
nav {
    background-color: var(--nav-background-color); /* Use variable for background color */
    border-radius: 5px; /* Optional for rounded corners */
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: var(--nav-text-color); /* Use variable for text color */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: var(--nav-hover-background-color); /* Use variable for hover background color */
    color: var(--button-hover-color); /* Use variable for text color on hover/focus */
}

/* Theme toggle button styles */
.theme-toggle-container {
    flex-grow: 1;
    text-align: center; /* Center the toggle button if there's space */
}

button#theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

button#theme-toggle svg {
    fill: currentColor; /* Use text color */
    width: 24px; /* Set size of icons */
    height: 24px;
}
body, button, nav {
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

/* Light mode styles (default) */
:root {
    --background-color: #F5D1DA; /* Light pink background */
    --text-color: #333; /* Dark text color */
    --text-content-color: #000; /* Black text for text content */
    --text-content-background-color: #fcf4f6; /* Light background for text content */
    --nav-background-color: #ffffff; /* White background for nav */
    --nav-text-color: #333; /* Dark text for navigation */
    --nav-hover-background-color: #951D6F; /* Dark pink for hover */
    --button-color: #d3c6f7; /* Button color */
    --button-text-color: #333; /* Text color for buttons */
    --button-hover-color: #ffffff; /* White text on hover */
    --main-content-bg: #333; /* gray for light mode */
}

/* Dark mode styles */
[data-theme="dark"] {
    --background-color: #5a0f42; /* Darker background */
    --text-color: #F5D1DA; /* Lighter text color */
    --text-content-color: #333; /* White text for text content in dark mode */
    --text-content-background-color: #f5d1da; /* Darker background for text content */
    --nav-background-color: #484141; /* Dark grey for nav */
    --nav-text-color: #fff; /* White text for navigation */
    --nav-hover-background-color: #333; /* Light pink for hover */
    --button-color: #d3c6f7; /* Button color remains */
    --button-text-color: #333; /* Text color for buttons */
    --button-hover-color: #fff; /* White text on hover */
    --main-content-bg: #333; /* white for dark mode */
}

/* Styles for the main body content */
.main-content {
    display: grid;
    grid-template-columns: 3fr 2fr; /* Two columns of equal size */
    grid-template-rows: auto 1fr; /* Two rows, top row auto-sized to content */
    grid-template-areas: 
        "title title"
        "text image";
        gap: 20px; /* Space between the grid cells */
    align-items: stretch; /* Align items to stretch in their container */
    margin: 20px auto; /* Centering the grid horizontally */
    max-width: 1000px; /* Maximum width of the container */
    background: var(--main-content-bg); /* Using variable for background */
    border-radius: 50px; /* Large border-radius to create a pill shape */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for 3D effect */
    overflow: hidden; /* Ensures nothing spills out of the border-radius */
}

.text-content, .image-content {
    display: flex;
    flex-direction: column; /* Organizes content in a vertical direction */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    max-height: 400px;
}

.text-content {
    grid-area: text; /* Assigning the text content to the text area */
    padding: 20px; /* Padding around the text */
    background-color: var(--text-content-background-color); /* Background color based on theme */
    color: var(--text-content-color); /* Text color based on theme */
    border-radius: 42px; /* Slightly smaller radius for a snug fit */
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); /* Inset shadow for depth */
    overflow: hidden;
    line-height: 2;
    font-family: monospace; 
    font-size: 1rem;
}

.image-content {
    grid-area: image; /* assigning the image content to the image area on the grid */
    overflow: hidden;
    
}

.image-content img {
    width: auto; /* Ensures image is responsive */
    max-height: 400px; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for the image */
}

/* Styles for the works page */
.works{
    text-align: left;
    margin: 20px auto 20px 50px;
}
.work-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    gap: 20px; /* Space between columns */
    padding: 20px; /* Padding around the grid */
    align-items: start; /* Aligns items to the start of each cell */
    max-width: 1200px; /* Maximum width of the grid container */
    margin: auto; /* Centers the grid in the middle of the page */
    text-align: center;
}

.grid-item {
    background: #f9f9f9; /* Light background color for each grid item */
    padding: 20px; /* Padding inside each grid item */
    border-radius: 10px; /* Rounded corners for aesthetic */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.git-container img, .codepen-container img {
    width: 100%; /* Ensures images take full width of the container */
    height: 300px; /* Fixed height for all images */
    object-fit: cover; /* Covers the area without distorting aspect ratio */
    border-radius: 5px; /* Slightly rounded corners */
}

.git-container, .codepen-container {
    margin-bottom: 20px; /* Adds bottom margin for spacing between content */
}

.image-wrapper {
    height: 300px; /* Fixed height for all wrappers */
    overflow: hidden; /* Hides parts of the image that overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 300px; /* Maintains aspect ratio */
    height: 100%; /* Fits to wrapper height */
    max-width: none; /* Overrides any max-width settings */
    object-fit: cover;
}

/* Styles for the contact page */
/* Styles for the chatbox-with-tail */
main{
    display: flex; /* Enables the use of flexbox properties */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    padding: 20px;
    height: auto; 
    width: 100%;
    font-family: Arial, sans-serif; /* Adjust as necessary */
}
.contact-container {
    margin: 50px auto;
    padding: 20px;
    width: 485px;
    font-family: Arial, sans-serif; /* Adjust as necessary */
    line-height: 1.6;
}

.chatbox {
    position: relative;
    background-color: #d3c6f7; /* Light purple */
    border-radius: 20px;
    padding: 15px;
    max-width: 90%;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.chatbox::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #d3c6f7;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}
/* Styles for the form on contact page */
form {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color); /* Uses background color based on theme */
    color: var(--text-color); /* Uses text color based on theme */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 380px;

}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color); /* Ensures label text follows theme */
}

input[type="text"], input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--button-color); /* Ensure this is the variable used */
    color: var(--button-text-color); /* This should also correctly reference the text color variable */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--nav-hover-background-color); /* This is specifically for hover state */
    color: var(--button-hover-color);
}

img {
    vertical-align: middle;
    width: 24px; /* Adjust size as necessary */
}

/* Specific styles for handling inputs on dark mode */
[data-theme="dark"] input[type="text"] {
    background-color: var(--nav-background-color); /* Dark mode input background */
    color: var(--text-color); /* Dark mode text color */
    border: 1px solid var(--text-content-color); /* Dark mode input border */
}

[data-theme="dark"] input[type="radio"] {
    accent-color: var(--nav-hover-background-color); /* Change radio button color in dark mode */
}

/* Styles to ensure proper visibility of form elements */
input[type="text"] {
    border: 1px solid #951d6f57; /* Light theme input border */
    background-color: var(--nav-background-color); /* Ensures input background matches theme */
    color: var(--text-color); /* Ensures text color is readable */
}

/* Adjust placeholder text color to ensure visibility across themes */
input::placeholder {
    color: #951d6f57;
}

/* Styles for portfolio works on works page */
.portfolio {
    margin: 20px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles for the lightbox model that allows img to be enlarged. */
.lightbox-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.lightbox-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 25px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px; /* Adjust as needed */
}

.portfolio-grid .item img {
    width: 100%; /* Ensures each image takes up the full width of its container */
    height: 200px; /* Adjust based on your design needs */
    object-fit: cover; /* Ensures the image covers the space without distorting */
    cursor: pointer; /* Indicates that the image can be clicked */
}

/* Styles for links within h2 tags */
h2 a {
    text-decoration: none; /* Removes the underline by default */
    color: inherit; /* Inherits the color from the parent element */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color and decoration */
}

h2 a:hover, h2 a:focus {
    text-decoration: underline; /* Adds underline on hover/focus */
    color: #4285F4; /* Changes color on hover/focus to a distinct blue */
}
/* Styles for responsive design and breakpoints */
@media (max-width: 768px) {
    body, button, nav ul li a {
        font-size: 14px; /* Smaller font size for readability on smaller screens */
    }

    #Anais {
        font-size: 2rem; /* Smaller title for limited space */
    }

    .main-content {
        grid-template-columns: 1fr; /* Stacks elements vertically instead of side by side */
        padding: 10px; /* Reduced padding */
    }
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack nav items vertically */
    }

    nav ul li a {
        padding: 8px; /* Adjust padding to make each link easier to tap */
    }
}
@media (max-width: 768px) {
    .image-content img, .git-container img, .codepen-container img {
        width: 100%; /* Ensures images scale down to fit the container */
        height: auto; /* Adjusts height automatically to maintain aspect ratio */
    }

    .image-wrapper {
        height: auto; /* Adjusts wrapper height to be auto on smaller screens */
    }
}
@media (max-width: 768px) {
    .work-content {
        grid-template-columns: 1fr; /* Changes the work grid to a single column layout */
    }

    .portfolio-grid {
        grid-template-columns: 1fr; /* Adjusts portfolio items to stack vertically */
    }
}
@media (max-width: 768px) {
    form {
        width: 90%; /* Makes the form take up more space for easier interaction */
    }

    button, input[type="text"], input[type="email"], input[type="tel"] {
        padding: 12px; /* Increases padding for easier tapping */
    }
}
