/* General body styles */
/* General body styles */
body {
    font-family: Arial, sans-serif; /* This can be changed to your preferred font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color); /* Use variable for background color */
    color: var(--text-color); /* Use variable for text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color); /* Use variable for background color */
    padding: 0 20px;
}
/* Logo styles */
.logo img {
    height: 60px;  // Make sure this is not too small or too large for your header.
}

/* Navigation styles */
nav {
    background-color: var(--nav-background-color); /* Use variable for background color */
    border-radius: 5px; /* Optional for rounded corners */
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: var(--nav-text-color); /* Use variable for text color */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: var(--nav-hover-background-color); /* Use variable for hover background color */
    color: var(--button-hover-color); /* Use variable for text color on hover/focus */
}

/* Theme toggle button styles */
.theme-toggle-container {
    flex-grow: 1;
    text-align: center; /* Center the toggle button if there's space */
}

button#theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

button#theme-toggle svg {
    fill: currentColor; /* Use text color */
    width: 24px; /* Set size of icons */
    height: 24px;
}
body, button, nav {
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

/* Light mode styles (default) */
:root {
    --background-color: #F5D1DA; /* Light pink background */
    --text-color: #000000; /* Black text */
    --text-content-color: #000000; /* Black text specifically for text content */
    --nav-background-color: #ffffff; /* White background for nav */
    --nav-text-color: #333; /* Dark grey text for navigation */
    --nav-hover-background-color: #951D6F; /* Dark pink for hover */
}
/* Dark mode styles */
[data-theme="dark"] {
    --background-color: #951D6F; /* Dark pink background */
    --text-color: #ffffff; /* White text */
    --text-content-color: #000000; /* Black text for text content in dark mode */
    --nav-background-color: #484141; /* Dark grey for nav */
    --nav-text-color: #ffffff; /* White text for navigation */
    --nav-hover-background-color: #F5D1DA; /* Light pink for hover */
    --button-hover-color: #000000; /* Black text on hover */
}

/* Styles for the main body content */
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns of equal width */
    align-items: center; /* Vertically align content in the middle */
    background: #484141; /* dark background for the container */
    border-radius: 50px; /* Large border-radius to create a pill shape */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for 3D effect */
    overflow: hidden; /* Ensures nothing spills out of the border-radius */
    margin: 20px auto; /* Centering the grid */
    max-width: 1000px; /* Maximum width of the container */
}

.text-content {
    margin: 20px;
    padding: 20px 40px 20px 20px; /* Padding around the text */
    background-color: #F5D1DA; /* White background for the text area */
    border-radius: 42px; /* Slightly smaller radius for a snug fit */
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); /* Inset shadow for depth */
    color: var(--text-content-color); /* Using variable for text color */
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Transparent background */   
}

.image-content img {
    max-width: 100%; /* Ensures image is responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0; /* No rounded corners for the image */
}


